In [27]:
import json
import requests
import psycopg2
import pandas as pd
import numpy as np
from datetime import datetime, date, time
from sqlalchemy import create_engine

## NOTE: This code is idealistic and isn't accounting for errors

### To setup Flask:
* my python version: Python 2.7.9 :: Anaconda custom (x86_64)
* place the dataint.py python file into the desired newly created directory
* NOTE: in dataint.py adjust postgres username, password, db name appropriately

```
conda install flask
export FLASK_APP=dataint.py
flask run
```

## Flask: Asterix /order

In [59]:
base_url = "http://127.0.0.1:5000/orders"
#Need include some type of key authorization
r = requests.get(base_url)
#r.content

In [60]:
r_json = json.loads(r.content)
orders_df = pd.DataFrame(r_json)
orders_df

,campaignid,city,customerid,numorderlines,numunits,orderdate,orderid,paymenttype,state,totalprice,zipcode
0,2141,NEWTON,45978,3,3,1255392000000,1002854,VI,MA,$190.00,02459
1,2173,NEW ROCHELLE,125381,1,1,1255392000000,1002855,VI,NY,$10.00,10804
2,2141,MIAMI,103122,2,2,1306972800000,1002856,AE,FL,$35.22,33137
3,2173,E RUTHERFORD,130980,1,1,1255478400000,1002857,AE,NJ,$10.00,07073
4,2141,BALTIMORE,48553,1,1,1290124800000,1002886,VI,MD,$10.00,21218

## Flask: Asterix /reviews
Review: retriewing 5 reviews and load into dataframe

In [61]:
base_url = "http://127.0.0.1:5000/reviews"
#Need include some type of key authorization
r = requests.get(base_url)
r_json = json.loads(r.content)
reviews_df = pd.DataFrame(r_json)
reviews_df

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0000000116,"[5, 5]",4.0,Interesting Grisham tale of a lawyer that take...,"04 27, 2002",AH2L9G3DQHHAJ,chris,Show me the money!,1019865600
1,0000000116,"[0, 0]",1.0,The thumbnail is a shirt. The product shown i...,"03 24, 2014",A2IIIDRK3PRRZY,Helene,Listing is all screwed up,1395619200
2,0000000868,"[10, 10]",4.0,I'll be honest. I work for a large online reta...,"09 11, 2002",A1TADCM7YWPQ8M,Joel@AWS,Not a Bad Translation,1031702400
3,0000013714,"[0, 0]",4.0,It had all the songs I wanted but I had ordere...,"10 31, 2013",AWGH7V0BDOJKB,Barbara Marshall,Not the large print,1383177600
4,0000013714,"[0, 0]",5.0,"We have many of the old, old issue. But the nu...","07 27, 2013",A3UTQPQPM4TQO0,betty burnett,I was disappointed that you would only allow m...,1374883200

## Flask Solr /reviewer

In [62]:
#base_url = "http://127.0.0.1:5000/reviewer"
r = requests.get(base_url)
r_json = json.loads(r.content)
reviews_df = pd.DataFrame(r_json)
reviews_df

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0000000116,"[5, 5]",4.0,Interesting Grisham tale of a lawyer that take...,"04 27, 2002",AH2L9G3DQHHAJ,chris,Show me the money!,1019865600
1,0000000116,"[0, 0]",1.0,The thumbnail is a shirt. The product shown i...,"03 24, 2014",A2IIIDRK3PRRZY,Helene,Listing is all screwed up,1395619200
2,0000000868,"[10, 10]",4.0,I'll be honest. I work for a large online reta...,"09 11, 2002",A1TADCM7YWPQ8M,Joel@AWS,Not a Bad Translation,1031702400
3,0000013714,"[0, 0]",4.0,It had all the songs I wanted but I had ordere...,"10 31, 2013",AWGH7V0BDOJKB,Barbara Marshall,Not the large print,1383177600
4,0000013714,"[0, 0]",5.0,"We have many of the old, old issue. But the nu...","07 27, 2013",A3UTQPQPM4TQO0,betty burnett,I was disappointed that you would only allow m...,1374883200

## Call postgres directly

In [63]:
engine = create_engine('postgresql://postgres:password@localhost:5433/SQLBook')
conn = engine.connect()
result = conn.execute('''with t as ( \
    select * 
    from orders
    limit 5 )
    select to_json(array_agg(t)) from t''')

In [64]:
o = result.fetchone()

o_df = pd.DataFrame(o[0])
o_df
engine.dispose()

In [65]:
conn.close()
o_df

,campaignid,city,customerid,numorderlines,numunits,orderdate,orderid,paymenttype,state,totalprice,zipcode
0,2141,NEWTON,45978,3,3,2009-10-13,1002854,VI,MA,$190.00,02459
1,2173,NEW ROCHELLE,125381,1,1,2009-10-13,1002855,VI,NY,$10.00,10804
2,2141,MIAMI,103122,2,2,2011-06-02,1002856,AE,FL,$35.22,33137
3,2173,E RUTHERFORD,130980,1,1,2009-10-14,1002857,AE,NJ,$10.00,07073
4,2141,BALTIMORE,48553,1,1,2010-11-19,1002886,VI,MD,$10.00,21218

### Direct orderlines Bernoulli 1% get classification for Asterix

In [66]:
engine = create_engine('postgresql://postgres:password@localhost:5433/SQLBook')
conn = engine.connect()
sql = '''
SELECT o.*, p.nodeid, p.asin 
FROM orderlines o TABLESAMPLE BERNOULLI(1) REPEATABLE(200)
inner join products p on o.productid = p.productid
'''

orderlines_df = pd.read_sql(sql, engine)

In [67]:
orderlines_df.head()

,orderlineid,orderid,productid,shipdate,billdate,unitprice,numunits,totalprice,nodeid,asin
0,1010669,1008582,10993,2010-12-15,2010-12-16,$29.95,1,$29.95,2765,0004708997
1,1010809,1008450,10674,2010-06-16,2010-06-17,$175.00,1,$175.00,8298061011,0002554364
2,1010859,1010363,11048,2009-11-09,2009-11-10,$10.00,2,$20.00,2946,000472500X
3,1011121,1009389,10534,2010-06-18,2010-06-19,$800.00,1,$800.00,355580011,0002247593
4,1011156,1010616,11176,2010-11-23,2010-11-24,$16.95,1,$16.95,3122,0006125492

In [68]:
statement = '''USE TinySocial;
            SELECT r.nodeID, r.classification
            FROM ClassificationInfo r;'''
payload = {
            'statement': statement
        }

a_response = requests.post('http://localhost:19002/query/service', data = payload)
print a_response.status_code
q = a_response.json()

classification_df = pd.DataFrame(q['results'])

200

In [69]:
print type(classification_df.nodeID[0])
orderlines_df.nodeid = orderlines_df['nodeid'].apply(np.int64)
print type(orderlines_df.nodeid[0])

<type 'numpy.int64'>
<type 'numpy.int64'>

In [70]:
base_url = "http://127.0.0.1:5000/sampleorderlines"
#Need include some type of key authorization
r = requests.get(base_url)
r_json = json.loads(r.content)
orders_df = pd.DataFrame(r_json)
orders_df

,asin,billdate,classification,nodeID,nodeid,numunits,orderid,orderlineid,productid,shipdate,totalprice,unitprice
0,0004708997,1292457600000,General,2765,2765,1,1008582,1010669,10993,1292371200000,$29.95,$29.95
1,0004708997,1292457600000,General,2765,2765,1,1007861,1007907,10993,1292371200000,$39.95,$39.95
2,0004708997,1292976000000,General,2765,2765,2,1015618,1020244,10993,1292889600000,$59.90,$29.95
3,0004708997,1292371200000,General,2765,2765,1,1016551,1021284,10993,1292284800000,$29.95,$29.95
4,0004708997,1292630400000,General,2765,2765,1,1021692,1026773,10993,1292544000000,$29.95,$29.95
5,0004708997,1292457600000,General,2765,2765,1,1031332,1041377,10993,1292371200000,$29.95,$29.95
6,0002554364,1276732800000,Technical Project Management,8298061011,8298061011,1,1008450,1010809,10674,1276646400000,$175.00,$175.00
7,0002554364,1276732800000,Technical Project Management,8298061011,8298061011,1,1008450,1010809,10674,1276646400000,$175.00,$175.00
8,0002554364,1354924800000,Technical Project Management,8298061011,8298061011,1,1058734,1069134,10674,1354838400000,$173.55,$173.55
9,0002554364,1354924800000,Technical Project Management,8298061011,8298061011,1,1058734,1069134,10674,1354838400000,$173.55,$173.55
10,000472500X,1257811200000,Children's Renaissance Books,2946,2946,2,1010363,1010859,11048,1257724800000,$20.00,$10.00
11,000472500X,1257811200000,Children's Renaissance Books,2946,2946,2,1010363,1010859,11048,1257724800000,$20.00,$10.00
12,000472500X,1267833600000,Children's Renaissance Books,2946,2946,1,1000756,1002229,11048,1267747200000,$10.00,$10.00
13,000472500X,1267833600000,Children's Renaissance Books,2946,2946,1,1000756,1002229,11048,1267747200000,$10.00,$10.00
14,000472500X,1257811200000,Children's Renaissance Books,2946,2946,3,1009657,1012255,11048,1257724800000,$30.00,$10.00
15,000472500X,1257811200000,Children's Renaissance Books,2946,2946,3,1009657,1012255,11048,1257724800000,$30.00,$10.00
16,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1008978,1012352,11048,1257811200000,$10.00,$10.00
17,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1008978,1012352,11048,1257811200000,$10.00,$10.00
18,000472500X,1271289600000,Children's Renaissance Books,2946,2946,1,1002859,1005300,11048,1271203200000,$10.00,$10.00
19,000472500X,1271289600000,Children's Renaissance Books,2946,2946,1,1002859,1005300,11048,1271203200000,$10.00,$10.00
20,000472500X,1271289600000,Children's Renaissance Books,2946,2946,1,1004042,1005496,11048,1271203200000,$10.00,$10.00
21,000472500X,1271289600000,Children's Renaissance Books,2946,2946,1,1004042,1005496,11048,1271203200000,$10.00,$10.00
22,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1007050,1006832,11048,1257811200000,$10.00,$10.00
23,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1007050,1006832,11048,1257811200000,$10.00,$10.00
24,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1011084,1013887,11048,1257811200000,$10.00,$10.00
25,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1011084,1013887,11048,1257811200000,$10.00,$10.00
26,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1008457,1008914,11048,1257811200000,$10.00,$10.00
27,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1008457,1008914,11048,1257811200000,$10.00,$10.00
28,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1008728,1009525,11048,1257811200000,$10.00,$10.00
29,000472500X,1257897600000,Children's Renaissance Books,2946,2946,1,1008728,1009525,11048,1257811200000,$10.00,$10.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4083,0007374798,1469836800000,U.S. Civil War Women's History,465262,465262,1,1607125,1960115,13949,1469750400000,$445.50,$445.50
4084,0007374798,1469836800000,U.S. Civil War Women's History,465262,465262,1,1607125,1960115,13949,1469750400000,$445.50,$445.50
4085,0007374798,1469836800000,U.S. Civil War Women's History,465262,465262,1,1607125,1960115,13949,1469750400000,$445.50,$445.50
4086,0004709799,1470182400000,Nonfiction,9432893011,9432893011,50,1609145,1963330,10995,1470096000000,$0.00,$0.00
4087,000223677X,1470268800000,Murder & Mayhem True Accounts,11320,11320,1,1610221,1965125,10509,1470096000000,$195.00,$195.00
4088,000651412X,1470268800000,Christian Book of Common Prayer,172816,172816,0,1610244,1965133,11796,1470096000000,$0.00,$0.00
4089,000651412X,1470268800000,Christian Book of Common Prayer,172816,172816,0,1610244,1965133,11796,1470096000000,$0.00,$0.00
4090,000651412X,1470268800000,Christian Book of Common Prayer,172816,172816,0,1610244,1965133,11796,1470096000000,$0.00,$0.00
4091,000651412X,1470268800000,Christian Book of Common Prayer,172816,172816,0,1610244,1965133,11796,1470096000000,$0.00,$0.00
4092,000651412X,1470268800000,Christian Book of Common Prayer,172816,172816,0,1610244,1965133,11796,1470096000000,$0.00,$0.00
4093,000651412X,1470268800000,Christian Book of Common Prayer,172816,172816,0,1610244,1965133,11796,1470096000000,$0.00,$0.00
4094,0007247923,1470960000000,General,11960,11960,1,1616129,1975120,13328,1470873600000,$10.95,$10.95
4095,0006393187,1471996800000,Old Testament Commentaries,12161,12161,1,1624118,1987181,11574,1471305600000,$175.50,$175.50
4096,0006393187,1471996800000,Old Testament Commentaries,12161,12161,1,1624118,1987181,11574,1471305600000,$175.50,$175.50
4097,0006393187,1471996800000,Old Testament Commentaries,12161,12161,1,1624118,1987181,11574,1471305600000,$175.50,$175.50
4098,0006393187,1471996800000,Old Testament Commentaries,12161,12161,1,1624118,1987181,11574,1471305600000,$175.50,$175.50
4099,0007340931,1471996800000,Scotland History,4974,4974,1,1624243,1987188,13850,1471824000000,$175.50,$175.50
4100,0007423632,1473292800000,Business & Professional Humor,271590011,271590011,1,1634135,2002158,14028,1473206400000,$20.65,$20.65
4101,0007382855,1473292800000,General,465302,465302,1,1634138,2002168,13962,1473206400000,$12.95,$12.95
4102,0007373619,1473811200000,Civil War Fredericksburg History,465238,465238,1,1638178,2007142,13944,1473379200000,$495.00,$495.00
4103,0007373619,1473811200000,Civil War Fredericksburg History,465238,465238,1,1638178,2007142,13944,1473379200000,$495.00,$495.00
4104,0007373619,1473811200000,Civil War Fredericksburg History,465238,465238,1,1638178,2007142,13944,1473379200000,$495.00,$495.00
4105,0007371667,1473811200000,Civil War Appomattox History,465228,465228,1,1638137,2007161,13942,1472515200000,$486.00,$486.00
4106,0007371667,1473811200000,Civil War Appomattox History,465228,465228,1,1638137,2007161,13942,1472515200000,$486.00,$486.00
4107,0007371667,1473811200000,Civil War Appomattox History,465228,465228,1,1638137,2007161,13942,1472515200000,$486.00,$486.00
4108,0007374674,1473811200000,U.S. Civil War Confederacy History,465236,465236,1,1638146,2007168,13946,1473379200000,$495.00,$495.00
4109,0007374674,1473811200000,U.S. Civil War Confederacy History,465236,465236,1,1638146,2007168,13946,1473379200000,$495.00,$495.00
4110,0007374674,1473811200000,U.S. Civil War Confederacy History,465236,465236,1,1638146,2007168,13946,1473379200000,$495.00,$495.00
4111,0007267142,1473811200000,Diabetes,282810,282810,1,1581153,2008118,13474,1472515200000,$486.00,$486.00
4112,0007267142,1473811200000,Diabetes,282810,282810,1,1581153,2008118,13474,1472515200000,$486.00,$486.00

In [71]:
o_df  = pd.merge(orderlines_df, classification_df[['classification','nodeID']], left_on='nodeid', right_on='nodeID')
o_df.head()

,orderlineid,orderid,productid,shipdate,billdate,unitprice,numunits,totalprice,nodeid,asin,classification,nodeID
0,1010669,1008582,10993,2010-12-15,2010-12-16,$29.95,1,$29.95,2765,0004708997,General,2765
1,1007907,1007861,10993,2010-12-15,2010-12-16,$39.95,1,$39.95,2765,0004708997,General,2765
2,1020244,1015618,10993,2010-12-21,2010-12-22,$29.95,2,$59.90,2765,0004708997,General,2765
3,1021284,1016551,10993,2010-12-14,2010-12-15,$29.95,1,$29.95,2765,0004708997,General,2765
4,1026773,1021692,10993,2010-12-17,2010-12-18,$29.95,1,$29.95,2765,0004708997,General,2765