In [1]:
from queryengine import QPE

### 1) ML query for training data for a super category.
### This does not include the sentiment calculations; the last three fields

The following creates a QPE engine. This is set up to run against the UCSD instances of postgress and asterix. Then by passing a rudimentary datalog with the nodeids returns data as a dataframe.

In [2]:
## Modified removing sentiment
supercategories = [[2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011],
[ 2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011],
[1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011 ],
[2945, 3220, 4296, 282840, 8883864011, 8883963011, 8944264011, 9432900011]]

qengine = QPE()

for supercat in supercategories:
    catlist = ','.join([str(i) for i in supercat])
    query = "Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, \
p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, \
p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, \
pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, \
p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (%s)" % (catlist)
    print query
    df = qengine.get_dataframe(query)
    print df.head()

---remote----
---remote----
Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'QZH', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
Postgres SQL: SELECT QZH.nodeid,QZH.yr,QZH.mn,QZH.sales,QZH.vol,QZH.pm_sales,QZH.pm_vol,QZH.p3m_sales,QZH.p3m_vol,QZH.p12m_sales,QZH.p12m_vol,QZH.pm_numreviews,QZH.pm_avgrating,QZH.p3m_numreviews,QZH.p3m_avgrating,QZH.p12m_numreviews,QZH.p12m_avgrating FROM mv_ml_features AS QZH WHERE nodeid in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
   nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0    2950  2009   1    0.0    0       0.0       0        0.0      0.0
1    2950  2009   2    0.0    0       0.0       0        0.0      0.0
2    2950  2009   3    0.0    0       0.0       0        0.0      0.0
3    2950  2009   4    0.0    0       0.0       0        0.0      0.0
4    2950  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              0.0             0.0
1            0.0              0.0             0.0
2            0.0              0.0             0.0
3            0.0              0.0             0.0
4            0.0              0.0             0.0
Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011)
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'QTE', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
Postgres SQL: SELECT QTE.nodeid,QTE.yr,QTE.mn,QTE.sales,QTE.vol,QTE.pm_sales,QTE.pm_vol,QTE.p3m_sales,QTE.p3m_vol,QTE.p12m_sales,QTE.p12m_vol,QTE.pm_numreviews,QTE.pm_avgrating,QTE.p3m_numreviews,QTE.p3m_avgrating,QTE.p12m_numreviews,QTE.p12m_avgrating FROM mv_ml_features AS QTE WHERE nodeid in (2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011)
   nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0    3981  2009   1    0.0    0       0.0       0        0.0      0.0
1    3981  2009   2    0.0    0       0.0       0        0.0      0.0
2    3981  2009   3    0.0    0       0.0       0        0.0      0.0
3    3981  2009   4    0.0    0       0.0       0        0.0      0.0
4    3981  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              0.0             0.0
1            0.0              0.0             0.0
2            0.0              0.0             0.0
3            0.0              0.0             0.0
4            0.0              0.0             0.0
Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011)
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'GUI', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
Postgres SQL: SELECT GUI.nodeid,GUI.yr,GUI.mn,GUI.sales,GUI.vol,GUI.pm_sales,GUI.pm_vol,GUI.p3m_sales,GUI.p3m_vol,GUI.p12m_sales,GUI.p12m_vol,GUI.pm_numreviews,GUI.pm_avgrating,GUI.p3m_numreviews,GUI.p3m_avgrating,GUI.p12m_numreviews,GUI.p12m_avgrating FROM mv_ml_features AS GUI WHERE nodeid in (1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011)
   nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0  282838  2009   1    0.0    0       0.0       0        0.0      0.0
1  282838  2009   2    0.0    0       0.0       0        0.0      0.0
2  282838  2009   3    0.0    0       0.0       0        0.0      0.0
3  282838  2009   4    0.0    0       0.0       0        0.0      0.0
4  282838  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              0.0             0.0
1            0.0              0.0             0.0
2            0.0              0.0             0.0
3            0.0              0.0             0.0
4            0.0              0.0             0.0
Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (2945,3220,4296,282840,8883864011,8883963011,8944264011,9432900011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (2945,3220,4296,282840,8883864011,8883963011,8944264011,9432900011)
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'HUJ', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
Postgres SQL: SELECT HUJ.nodeid,HUJ.yr,HUJ.mn,HUJ.sales,HUJ.vol,HUJ.pm_sales,HUJ.pm_vol,HUJ.p3m_sales,HUJ.p3m_vol,HUJ.p12m_sales,HUJ.p12m_vol,HUJ.pm_numreviews,HUJ.pm_avgrating,HUJ.p3m_numreviews,HUJ.p3m_avgrating,HUJ.p12m_numreviews,HUJ.p12m_avgrating FROM mv_ml_features AS HUJ WHERE nodeid in (2945,3220,4296,282840,8883864011,8883963011,8944264011,9432900011)

   nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0    2945  2009   1    0.0    0       0.0       0        0.0      0.0
1    2945  2009   2    0.0    0       0.0       0        0.0      0.0
2    2945  2009   3    0.0    0       0.0       0        0.0      0.0
3    2945  2009   4    0.0    0       0.0       0        0.0      0.0
4    2945  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              0.0             0.0
1            0.0              0.0             0.0
2            0.0              0.0             0.0
3            0.0              0.0             0.0
4            0.0              0.0             0.0

### 4) Analytical query : Top 3 categories by sales around Christmas

In [3]:
query = '''Ans ( nodeid, sales) :- 
sales_agg_mn(nodeid, mn, sales,_,_,_,_) , mn=12, rank_sales<=3'''

df = qengine.get_dataframe(query)
df

GOT UNFOLDED:Ans(nodeid,sales):-S1.sales_agg_mn(nodeid,mn,sales,_,_,_,_),mn=12,rank_sales<=3
checking object in selectClause
{'source': u'S1', 'predicate': u'sales_agg_mn', 'alias': 'HPQ', 'atoms': [u'nodeid', u'mn', u'sales', u'_', u'_', u'_', u'_']}
Postgres SQL: SELECT HPQ.nodeid,HPQ.mn,HPQ.sales FROM sales_agg_mn AS HPQ WHERE mn = 12 AND rank_sales <= 3

       nodeid     sales
0        2672  48732.10
1  9432891011  42420.36
2   713347011  41075.30

### 5) Analytical query : Top 3 categories by volume around Christmas

In [4]:
query = '''Ans ( nodeid, sales,vol) :- 
sales_agg_mn(nodeid, mn, sales, vol,_,_,_) , mn=12, rank_vol<=3
'''

df = qengine.get_dataframe(query)
df

GOT UNFOLDED:Ans(nodeid,sales,vol):-S1.sales_agg_mn(nodeid,mn,sales,vol,_,_,_),mn=12,rank_vol<=3
checking object in selectClause
{'source': u'S1', 'predicate': u'sales_agg_mn', 'alias': 'ICU', 'atoms': [u'nodeid', u'mn', u'sales', u'vol', u'_', u'_', u'_']}
Postgres SQL: SELECT ICU.nodeid,ICU.mn,ICU.sales,ICU.vol FROM sales_agg_mn AS ICU WHERE mn = 12 AND rank_vol <= 3

       nodeid     sales   vol
0        5367      0.00  5409
1  9432902011  31013.76  3817
2  8883853011  15982.10  2914

### 6) Analytical query : Top 3 categories by sales last year

In [5]:
query = '''Ans ( nodeid, sales) :- 
sales_agg_yr(nodeid, yr, sales,_,_,_,_) , yr = 2016, rank_sales<=3
'''

df = qengine.get_dataframe(query)
df

GOT UNFOLDED:Ans(nodeid,sales):-S1.sales_agg_yr(nodeid,yr,sales,_,_,_,_),yr=2016,rank_sales<=3
checking object in selectClause
{'source': u'S1', 'predicate': u'sales_agg_yr', 'alias': 'JRM', 'atoms': [u'nodeid', u'yr', u'sales', u'_', u'_', u'_', u'_']}
Postgres SQL: SELECT JRM.nodeid,JRM.yr,JRM.sales FROM sales_agg_yr AS JRM WHERE yr = 2016 AND rank_sales <= 3

   nodeid     sales
0    5322  61089.70
1    5023  60315.75
2  465238  35366.97