In [1]:
from queryengine import QPE

In [2]:
qengine = QPE()

## Modified removing sentiment
supercategories = [[2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011],
[ 2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011],
[1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011 ],
[2945, 3220, 4296, 282840, 8883864011, 8883963011, 8944264011, 9432900011]]
super_cat1 = ','.join([str(i) for i in supercategories[0]])

---remote----
---remote----

### 1) ML query for training data for a super category.
### This does not include the sentiment calculations (with sentiment)

In [3]:
query = "Ans ( nodeId, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, \
p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, \
p3m_avgrating, p12m_numreviews, p12m_avgrating, pm_avgsntp, p3m_avgsntp, \
p12m_avgsntp ) :- \
mlfeatures ( nodeId, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, \
p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, \
p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating, \
pm_avgsntp, p3m_avgsntp, p12m_avgsntp ), \
nodeId in (%s)" %  (super_cat1)
df = qengine.get_dataframe(query)
df.head()

GOT UNFOLDED:Ans(nodeId,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating,pm_avgsntp,p3m_avgsntp,p12m_avgsntp):-S1.mv_ml_features(nodeId,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),S2.mlview(nodeId,yr,mn,pm_avgsntp,p3m_avgsntp,p12m_avgsntp),nodeId in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
nodeId in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
[(u'nodeId', u'in', u'2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011')]
(u'nodeId', u'in', u'2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011')
year:None
month:None
nodes:[2950, 3179, 3188, 3214, 3263, 3939, 171114, 465288, 132561011, 377550011, 6133990011, 6343223011, 7976022011, 8622832011, 10806600011]
[2950, 3179, 3188, 3214, 3263, 3939, 171114, 465288, 132561011, 377550011, 6133990011, 6343223011, 7976022011, 8622832011, 10806600011]
Extracting ML features from Multisource
extracting one ml features from pgdb
url:postgresql://student:123456@132.249.238.27:5432/bookstore_dp
Extracting ML review features from Asterix
extracting ASINs from pgdb
url:postgresql://student:123456@132.249.238.27:5432/bookstore_dp
Extracting reviews from Asterix DB
---------

200
<Response [200]>
---------

Computing sentimental polarity
Computing ML review features
SENTIMENT
Index([u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol',
       u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews',
       u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating',
       u'p12m_numreviews', u'p12m_avgrating', u'pm_avgsntp', u'p3m_avgsntp',
       u'p12m_avgsntp'],
      dtype='object')

,nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating,pm_avgsntp,p3m_avgsntp,p12m_avgsntp
96,2950,2009,1,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,2950,2009,2,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,2950,2009,3,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,2950,2009,4,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,2950,2009,5,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 2) ML query for training data for a super category.  (without sentiment ~ mlfeatures only)

The following creates a QPE engine. This is set up to run against the UCSD instances of postgress and asterix. Then by passing a rudimentary datalog with the nodeids returns data as a dataframe.

In [4]:
for supercat in supercategories:
    catlist = ','.join([str(i) for i in supercat])
    query = "Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, \
p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, \
p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, \
pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, \
p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (%s)" % (catlist)
    print query
    df = qengine.get_dataframe(query)
    print df.head()

Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
init sqltype:postgres
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'ELI', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
TYPE:postgres
CONDITION CLAUSE
{'condition': {'rhs': u'2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011', 'lhs': u'nodeid', 'qualifier': u'in'}}
Postgres SQL: SELECT ELI.nodeid,ELI.yr,ELI.mn,ELI.sales,ELI.vol,ELI.pm_sales,ELI.pm_vol,ELI.p3m_sales,ELI.p3m_vol,ELI.p12m_sales,ELI.p12m_vol,ELI.pm_numreviews,ELI.pm_avgrating,ELI.p3m_numreviews,ELI.p3m_avgrating,ELI.p12m_numreviews,ELI.p12m_avgrating FROM mv_ml_features AS ELI WHERE nodeid in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
        nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0  10806600011  2009   1    0.0    0       0.0       0        0.0      0.0
1  10806600011  2009   2    0.0    0       0.0       0        0.0      0.0
2  10806600011  2009   3    0.0    0       0.0       0        0.0      0.0
3  10806600011  2009   4    0.0    0       0.0       0        0.0      0.0
4  10806600011  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              1.0             4.0
1            0.0              1.0             4.0
2            0.0              1.0             4.0
3            0.0              1.0             4.0
4            0.0              1.0             4.0
Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011)
init sqltype:postgres
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'PCK', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
TYPE:postgres
CONDITION CLAUSE
{'condition': {'rhs': u'2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011', 'lhs': u'nodeid', 'qualifier': u'in'}}
Postgres SQL: SELECT PCK.nodeid,PCK.yr,PCK.mn,PCK.sales,PCK.vol,PCK.pm_sales,PCK.pm_vol,PCK.p3m_sales,PCK.p3m_vol,PCK.p12m_sales,PCK.p12m_vol,PCK.pm_numreviews,PCK.pm_avgrating,PCK.p3m_numreviews,PCK.p3m_avgrating,PCK.p12m_numreviews,PCK.p12m_avgrating FROM mv_ml_features AS PCK WHERE nodeid in (2672,2946,3122,3131,3167,3185,3200,3215,3262,3279,3610,3612,3616,3981,3987,4134,4676,5322,13682,688868,720028,882340,13998731,15375251,16244041,16244061,713347011,3564978011,3564986011,7009088011,8883852011,8883853011,8883961011,8951155011,8951160011,8951165011,8951173011,8951174011,8951191011)
   nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0    3262  2009   1    0.0    0       0.0       0        0.0      0.0
1    3262  2009   2    0.0    0       0.0       0        0.0      0.0
2    3262  2009   3    0.0    0       0.0       0        0.0      0.0
3    3262  2009   4    0.0    0       0.0       0        0.0      0.0
4    3262  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              0.0             0.0
1            0.0              0.0             0.0
2            0.0              0.0             0.0
3            0.0              0.0             0.0
4            0.0              0.0             0.0
Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011)
init sqltype:postgres
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'NSJ', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
TYPE:postgres
CONDITION CLAUSE
{'condition': {'rhs': u'1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011', 'lhs': u'nodeid', 'qualifier': u'in'}}
Postgres SQL: SELECT NSJ.nodeid,NSJ.yr,NSJ.mn,NSJ.sales,NSJ.vol,NSJ.pm_sales,NSJ.pm_vol,NSJ.p3m_sales,NSJ.p3m_vol,NSJ.p12m_sales,NSJ.p12m_vol,NSJ.pm_numreviews,NSJ.pm_avgrating,NSJ.p3m_numreviews,NSJ.p3m_avgrating,NSJ.p12m_numreviews,NSJ.p12m_avgrating FROM mv_ml_features AS NSJ WHERE nodeid in (1002,1007,2963,3094,3291,3527,4263,4278,282838,8883838011,8951153011,9432890011,9432902011)

   nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0    4263  2009   1    0.0    0       0.0       0        0.0      0.0
1    4263  2009   2    0.0    0       0.0       0        0.0      0.0
2    4263  2009   3    0.0    0       0.0       0        0.0      0.0
3    4263  2009   4    0.0    0       0.0       0        0.0      0.0
4    4263  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              0.0             0.0
1            0.0              0.0             0.0
2            0.0              0.0             0.0
3            0.0              0.0             0.0
4            0.0              0.0             0.0
Ans ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating) :- mlfeatures ( nodeid, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating,_,_,_), nodeid in (2945,3220,4296,282840,8883864011,8883963011,8944264011,9432900011)
GOT UNFOLDED:Ans(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating):-S1.mv_ml_features(nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),nodeid in (2945,3220,4296,282840,8883864011,8883963011,8944264011,9432900011)
init sqltype:postgres
checking object in selectClause
{'source': u'S1', 'predicate': u'mv_ml_features', 'alias': 'ZPG', 'atoms': [u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol', u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews', u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating', u'p12m_numreviews', u'p12m_avgrating']}
TYPE:postgres
CONDITION CLAUSE
{'condition': {'rhs': u'2945,3220,4296,282840,8883864011,8883963011,8944264011,9432900011', 'lhs': u'nodeid', 'qualifier': u'in'}}
Postgres SQL: SELECT ZPG.nodeid,ZPG.yr,ZPG.mn,ZPG.sales,ZPG.vol,ZPG.pm_sales,ZPG.pm_vol,ZPG.p3m_sales,ZPG.p3m_vol,ZPG.p12m_sales,ZPG.p12m_vol,ZPG.pm_numreviews,ZPG.pm_avgrating,ZPG.p3m_numreviews,ZPG.p3m_avgrating,ZPG.p12m_numreviews,ZPG.p12m_avgrating FROM mv_ml_features AS ZPG WHERE nodeid in (2945,3220,4296,282840,8883864011,8883963011,8944264011,9432900011)
       nodeid    yr  mn  sales  vol  pm_sales  pm_vol  p3m_sales  p3m_vol  \
0  9432900011  2009   1    0.0    0       0.0       0        0.0      0.0
1  9432900011  2009   2    0.0    0       0.0       0        0.0      0.0
2  9432900011  2009   3    0.0    0       0.0       0        0.0      0.0
3  9432900011  2009   4    0.0    0       0.0       0        0.0      0.0
4  9432900011  2009   5    0.0    0       0.0       0        0.0      0.0

   p12m_sales  p12m_vol  pm_numreviews  pm_avgrating  p3m_numreviews  \
0         0.0       0.0            0.0           0.0             0.0
1         0.0       0.0            0.0           0.0             0.0
2         0.0       0.0            0.0           0.0             0.0
3         0.0       0.0            0.0           0.0             0.0
4         0.0       0.0            0.0           0.0             0.0

   p3m_avgrating  p12m_numreviews  p12m_avgrating
0            0.0              0.0             0.0
1            0.0              0.0             0.0
2            0.0              0.0             0.0
3            0.0              0.0             0.0
4            0.0              0.0             0.0

### 3) Get features for month of Dec to predict sale on month of Dec for a super category

In [5]:
query = "Ans ( nodeId, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, p3m_vol, \
p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, p3m_numreviews, \
p3m_avgrating, p12m_numreviews, p12m_avgrating, pm_avgsntp, p3m_avgsntp, \
p12m_avgsntp ) :- \
mlfeatures ( nodeId, yr, mn, sales, vol, pm_sales, pm_vol, p3m_sales, \
p3m_vol, p12m_sales, p12m_vol, pm_numreviews, pm_avgrating, \
p3m_numreviews, p3m_avgrating, p12m_numreviews, p12m_avgrating, \
pm_avgsntp, p3m_avgsntp, p12m_avgsntp ),yr=2015,mn=12, \
nodeId in (%s)" %  (super_cat1)
df = qengine.get_dataframe(query)
df.head()

GOT UNFOLDED:Ans(nodeId,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating,pm_avgsntp,p3m_avgsntp,p12m_avgsntp):-S1.mv_ml_features(nodeId,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating),S2.mlview(nodeId,yr,mn,pm_avgsntp,p3m_avgsntp,p12m_avgsntp),yr=2015,mn=12,nodeId in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
yr=2015,mn=12,nodeId in (2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011)
[(u'yr', u'=', u'2015'), (u'mn', u'=', u'12')]
(u'yr', u'=', u'2015')
(u'mn', u'=', u'12')
[(u'nodeId', u'in', u'2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011')]
(u'nodeId', u'in', u'2950,3179,3188,3214,3263,3939,171114,465288,132561011,377550011,6133990011,6343223011,7976022011,8622832011,10806600011')
year:2015
month:12
nodes:[2950, 3179, 3188, 3214, 3263, 3939, 171114, 465288, 132561011, 377550011, 6133990011, 6343223011, 7976022011, 8622832011, 10806600011]
[2950, 3179, 3188, 3214, 3263, 3939, 171114, 465288, 132561011, 377550011, 6133990011, 6343223011, 7976022011, 8622832011, 10806600011]
Extracting ML features from Multisource
extracting one ml features from pgdb
url:postgresql://student:123456@132.249.238.27:5432/bookstore_dp
Extracting ML review features from Asterix
extracting ASINs from pgdb
url:postgresql://student:123456@132.249.238.27:5432/bookstore_dp
Extracting reviews from Asterix DB
---------

200
<Response [200]>
---------

Computing sentimental polarity
Computing ML review features
SENTIMENT
Index([u'nodeid', u'yr', u'mn', u'sales', u'vol', u'pm_sales', u'pm_vol',
       u'p3m_sales', u'p3m_vol', u'p12m_sales', u'p12m_vol', u'pm_numreviews',
       u'pm_avgrating', u'p3m_numreviews', u'p3m_avgrating',
       u'p12m_numreviews', u'p12m_avgrating', u'pm_avgsntp', u'p3m_avgsntp',
       u'p12m_avgsntp'],
      dtype='object')

,nodeid,yr,mn,sales,vol,pm_sales,pm_vol,p3m_sales,p3m_vol,p12m_sales,p12m_vol,pm_numreviews,pm_avgrating,p3m_numreviews,p3m_avgrating,p12m_numreviews,p12m_avgrating,pm_avgsntp,p3m_avgsntp,p12m_avgsntp
179,2950,2015,12,12.95,1,65.47,6,310.47,11.0,1851.98,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275,3179,2015,12,0.00,0,0.00,0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371,3188,2015,12,54.00,2,84.00,3,234.00,8.0,561.00,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
467,3214,2015,12,0.00,0,0.00,0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
563,3263,2015,12,0.00,0,0.00,0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 4) Analytical query : Top 3 categories by sales around Christmas

In [6]:
query = '''Ans ( nodeid, sales) :- 
sales_agg_mn(nodeid, mn, sales,_,_,_,_) , mn=12, rank_sales<=3'''

df = qengine.get_dataframe(query)
df

GOT UNFOLDED:Ans(nodeid,sales):-S1.sales_agg_mn(nodeid,mn,sales,_,_,_,_),mn=12,rank_sales<=3
init sqltype:postgres
checking object in selectClause
{'source': u'S1', 'predicate': u'sales_agg_mn', 'alias': 'SDA', 'atoms': [u'nodeid', u'mn', u'sales', u'_', u'_', u'_', u'_']}
TYPE:postgres
CONDITION CLAUSE
{'condition': {'rhs': u'12', 'lhs': u'mn', 'qualifier': u'='}}
CONDITION CLAUSE
{'condition': {'rhs': u'3', 'lhs': u'rank_sales', 'qualifier': u'<='}}
Postgres SQL: SELECT SDA.nodeid,SDA.mn,SDA.sales FROM sales_agg_mn AS SDA WHERE mn = 12 AND rank_sales <= 3

       nodeid     sales
0        2672  48732.10
1  9432891011  42420.36
2   713347011  41075.30

### 5) Analytical query : Top 3 categories by volume around Christmas

In [7]:
query = '''Ans ( nodeid, sales,vol) :- 
sales_agg_mn(nodeid, mn, sales, vol,_,_,_) , mn=12, rank_vol<=3
'''

df = qengine.get_dataframe(query)
df

GOT UNFOLDED:Ans(nodeid,sales,vol):-S1.sales_agg_mn(nodeid,mn,sales,vol,_,_,_),mn=12,rank_vol<=3
init sqltype:postgres
checking object in selectClause
{'source': u'S1', 'predicate': u'sales_agg_mn', 'alias': 'ALA', 'atoms': [u'nodeid', u'mn', u'sales', u'vol', u'_', u'_', u'_']}
TYPE:postgres
CONDITION CLAUSE
{'condition': {'rhs': u'12', 'lhs': u'mn', 'qualifier': u'='}}
CONDITION CLAUSE
{'condition': {'rhs': u'3', 'lhs': u'rank_vol', 'qualifier': u'<='}}
Postgres SQL: SELECT ALA.nodeid,ALA.mn,ALA.sales,ALA.vol FROM sales_agg_mn AS ALA WHERE mn = 12 AND rank_vol <= 3

       nodeid     sales   vol
0        5367      0.00  5409
1  9432902011  31013.76  3817
2  8883853011  15982.10  2914

### 6) Analytical query : Top 3 categories by sales last year

In [8]:
query = '''Ans ( nodeid, sales) :- 
sales_agg_yr(nodeid, yr, sales,_,_,_,_) , yr = 2016, rank_sales<=3
'''

df = qengine.get_dataframe(query)
df

GOT UNFOLDED:Ans(nodeid,sales):-S1.sales_agg_yr(nodeid,yr,sales,_,_,_,_),yr=2016,rank_sales<=3
init sqltype:postgres
checking object in selectClause
{'source': u'S1', 'predicate': u'sales_agg_yr', 'alias': 'ZGV', 'atoms': [u'nodeid', u'yr', u'sales', u'_', u'_', u'_', u'_']}
TYPE:postgres
CONDITION CLAUSE
{'condition': {'rhs': u'2016', 'lhs': u'yr', 'qualifier': u'='}}
CONDITION CLAUSE
{'condition': {'rhs': u'3', 'lhs': u'rank_sales', 'qualifier': u'<='}}
Postgres SQL: SELECT ZGV.nodeid,ZGV.yr,ZGV.sales FROM sales_agg_yr AS ZGV WHERE yr = 2016 AND rank_sales <= 3

   nodeid     sales
0    5322  61089.70
1    5023  60315.75
2  465238  35366.97